<!DOCTYPE html>
<html>
  <head>
    <title>Ssspotify</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.js"></script>
  </head>

  <body ng-app="app">
    <% if notice || alert %>
    <div class="alert alert-success fade in">
    <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <% end %>

  <%= yield %>

  <footer>
    <div class="footer navbar navbar-default navbar-fixed-bottom">
      <div class="container">
          <div class="col-lg-12">
            <h5>Built with <%= image_tag('heart.png') %> by <a href="http://dev.thelucasmoore.com" target="_blank">Lucas Moore</a></h5>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>

